/////////////////////////////////////////////////////////////////////////////
//
//        ________          _   ____   ____  ___
//           /    ____  \ _/   /      /   / /   \
//          /    /___/  _\    /      /---/ /    /
//         /    /___   /  \  /____  /   / /____/
//
//          TeXCAD for Windows, resource script
//          Partially edited on ResEdit 1.6.2, http://www.resedit.net
//
/////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "texcad.h"
#include "standard_ids.h"

//#define VK_INSERT         0x2D
//#define VK_DELETE         0x2E
#define VK_F12            0x7B

/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

AAA_Main_Icon   ICON DISCARDABLE	"texcad.ico"
Picture_Icon    ICON DISCARDABLE	"picture.ico"
Grid_Icon       ICON DISCARDABLE	"grid.ico"
Options_Icon    ICON DISCARDABLE	"options.ico"
Tools_Icon      ICON DISCARDABLE	"tools.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//

Toolbar_Bmp         BITMAP DISCARDABLE	"TC_Tools_32x32.bmp"
Drawing_Toolbar_Bmp	BITMAP DISCARDABLE	"TC_Drawing_tools.bmp"
Line_Toolbar_Bmp  	BITMAP DISCARDABLE	"TC_Line_settings.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Cursors
//

Select_cursor       CURSOR DISCARDABLE	"select.cur"
Unselect_cursor     CURSOR DISCARDABLE	"unselect.cur"
Pick_cursor         CURSOR DISCARDABLE	"pick.cur"
Unpick_cursor       CURSOR DISCARDABLE	"unpick.cur"
Picking_cursor      CURSOR DISCARDABLE	"picking.cur"
Text_Change_cursor  CURSOR DISCARDABLE	"chg_text.cur"
Set_origin_cursor   CURSOR DISCARDABLE	"set_origin.cur"
Finger_cursor       CURSOR DISCARDABLE	"finger.cur"

//
// Dialog resources
//

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
Cleanup_Dialog DIALOG 0, 0, 298, 110
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "CLEANUP"
FONT 8, "Ms Shell Dlg"
{
    PUSHBUTTON      "CANCEL", IDCANCEL, 237, 90, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "&CLEANUP SELECTED", IDOK, 117, 90, 114, 14, 0, WS_EX_LEFT
    CONTROL         "", Detection_List, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT, 9, 7, 277, 77, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
Param_Curve_2D_Dialog DIALOG 0, 0, 331, 118
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "2D PARAMETRIC CURVE"
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "x(t)", 0, 8, 12, 15, 12, SS_LEFT, WS_EX_LEFT
    LTEXT           "y(t)", 0, 8, 31, 15, 12, SS_LEFT, WS_EX_LEFT
    EDITTEXT        X_Form_Box, 26, 10, 297, 15, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        Y_Form_Box, 26, 29, 297, 15, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "t_min", 0, 14, 52, 25, 13, SS_LEFT, WS_EX_LEFT
    LTEXT           "t_max", 0, 14, 71, 25, 13, SS_LEFT, WS_EX_LEFT
    EDITTEXT        T_Min_Box, 48, 50, 70, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        T_Max_Box, 48, 69, 70, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    RTEXT           "SEGMENTS (0=auto)", Segments_Label, 126, 52, 104, 10, SS_RIGHT, WS_EX_LEFT
    EDITTEXT        Segments_Box, 239, 50, 37, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    RTEXT           "SCALE (0=auto)", Scale_Label, 126, 70, 104, 10, SS_RIGHT, WS_EX_LEFT
    EDITTEXT        Scale_Box, 239, 68, 37, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    DEFPUSHBUTTON   "O&K", IDOK, 210, 99, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 267, 99, 50, 14, 0, WS_EX_LEFT
}


/////////////////////////////////////////////////////////////////////////////
//
// Accelerators
//

Main_Menu ACCELERATORS PRELOAD MOVEABLE PURE
BEGIN
    "A",            ID_EDIT_SELECT_ALL,     VIRTKEY,CONTROL
    "U",            ID_EDIT_CLEAR_ALL,      VIRTKEY,CONTROL
    "C",            ID_EDIT_COPY,           VIRTKEY,CONTROL
    VK_INSERT,      ID_EDIT_COPY,           VIRTKEY,CONTROL
    "X",            ID_EDIT_CUT,            VIRTKEY,CONTROL
    VK_DELETE,      ID_EDIT_CUT,            VIRTKEY,SHIFT
    VK_DELETE,      ID_EDIT_CLEAR,          VIRTKEY,CONTROL
    VK_DELETE,      ID_EDIT_CLEAR,          VIRTKEY
    "V",            ID_EDIT_PASTE,          VIRTKEY,CONTROL
    VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY,SHIFT
    "N",            ID_FILE_NEW,            VIRTKEY,CONTROL
    "O",            ID_FILE_OPEN,           VIRTKEY,CONTROL
    "S",            ID_FILE_SAVE,           VIRTKEY,CONTROL
    VK_F12,         ID_FILE_SAVE_AS,        VIRTKEY
    "W",            ID_FILE_CLOSE,          VIRTKEY,CONTROL
END

1 VERSIONINFO
FILEVERSION     4, 6, 0, 0
PRODUCTVERSION  4, 6, 0, 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"// Lang=US English, CharSet=Windows Multilingual
        BEGIN
            VALUE "Comments",
                    "TeXCAD is a program for drawing or retouching {picture}s in LaTeX."
            VALUE "CompanyName", "Free Software Foundation, Inc."
            VALUE "Authors", "Georg Horn, Jörn Winkelmann, Gautier de Montmollin"
            VALUE "FileDescription", "TeXCAD, a LaTeX {picture} drawing program"
            VALUE "FileVersion", "Ver. 4.6"
            VALUE "InternalName", "TeXCAD"
            VALUE "LegalCopyright", "© 2003 .. 2024 Free Software Foundation"
            VALUE "OriginalFilename", "TeXCAD.exe"
            VALUE "ProductName", "TeXCAD"
            VALUE "ProductVersion", "4.6"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation",  1033,  1252
    END
END

//
// Manifest resources
//
1                  RT_MANIFEST    "manifest.xml"
